# Gradle
.gradle/
build/
**/build/
out/
*.jar
*.class
!src/**/build/
mobilectl.bat
mobilectl.sh

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.sw*
xcuserdata
*.bak

# JVM
*.jks
*.keystore
local.properties

# OS
.DS_Store
Thumbs.db
*.log
captures

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
release/
*.apk
*.ipa
*.aar

# Temporary
tmp/
temp/
*.tmp

# Node (if using any JS tooling)
node_modules/
npm-debug.log

# Dependencies
.kotlin/

# Native binaries
native/build/
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.externalNativeBuild
